/*Podemos modificar el estilo que el iFrame trae por defecto con css*/
.titulo {
    color: #f72585;
    text-align: center;
}
.marco {
    width: 100%;
    height: 200px;
    border: solid 1px red;
}