@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');/*De esta manera podemos importar fuentes directamente de google fonts*/

h1{
    color: #f8269d;/*Color de texto*/
    text-align: center;/*Centramos nuestro texto*/
    text-transform: uppercase;/*Cambiamos todo el texto a mayuscula*/
    text-shadow: 2px 2px 2px #ced4da;/*Sombreado en el texto*/
    /*Google font*/
    font-family: 'Rubik Bubbles', cursive;;
}
.container{
    padding: 5px;/*Espacio de 5 px entre nuestro contenido y el borde del contenedor*/
    width: 40%;/*Ancho de nuestro contenedor*/
    height: 80px;/*Alto de nuestro contenedor*/
    border-radius: 5px;/*Bordes redondeados*/
    color: #fff;/*Color de texto blanco*/
    text-align: center;/*Texto alineado al centro*/
    margin: 10px;/*Espacio de 10 px entre los contenedores*/
    font-size: 20px;/*Tamaño de fuente*/
    float: left;/*Alineamos las cajas a la derecha*/
}
.container.serif{
    background-color: #5a189a;/*Le damos un color de fondo a los contenedores que tengan la clase serif*/
}
.fuente_times{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-small;/*Con esta propiedad podemos modificar el tamaño de nuestra fuente, ya sea con px, em, rem, vh o palabras reserevadas*/
}
.fuente_georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container.sans-serif{
    background-color: #00b4b8;
    font-family: Arial, Helvetica, sans-serif;
}
.container.monospace{
    background-color: #f15bb5;
}
.container.fuente_courier{
    font-family: 'Courier New', Courier, monospace;
}
.container.cursive{
    background-color: #d0532c;
}
.fuente_lucida{
    font-family: 'Lucida Handwriting', cursive;
}